#footer-wrap{
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}
footer{
    height: 100px;
    position: relative;
    transform: translateY(100%);
    background-color: lightblue;
    text-align: center;
}
footer p{
    padding: 5px;
}