/*폰트*/
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/*사이트*/
*{
    margin: 0;
    padding: 0;
    font-family: 'GMarketSans';
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
#page{
    height: 800px;
}
#article-top{
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: url('../public/assets/main-banner.jpg');
}

#page-nav{
    background-color: black;
    padding: 10px;
}
#menu-list{
    display: flex;
}
#menu-list img {
    border-radius: 50%;
}
#menu-list .card{
    text-align: center;
}
#recommand{
    display: flex;
    margin-top: 10px;
}
#new-restaurant{
    display: flex;
}
.card{
    padding: 5px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: lightgray;
}